{{$input := .}}
{{$gwData := .Data.V1}}

{{$argsLen := len $input.Args}}

{{if eq $argsLen 0}}
    {{fail "base template did not pass in the required argument"}}
{{end}}

{{ $serverIndex := index $input.Args 0}}
{{ $server := index $gwData.servers $serverIndex}}

{{ $sce := $server.customExtensions }}

{{if $sce }}
# created by: bigtechdojo custom template
    {{$user_input := $sce.access_log_options.args}}
    {{$user_input2 := $sce.error_log_options.args}}
    {{if $user_input }}
       access_log {{$user_input}};
    {{end}}
    {{if $user_input2 }}
       error_log {{$user_input2}};
    {{end}}
{{end}}
