{{/* Copyright (C) F5 Networks, Inc. 2023 */}} 
{{/* All rights reserved. */}} 
{{/* No part of the software may be reproduced or transmitted in any */}} 
{{/* form or by any means, electronic or mechanical, for any purpose, */}} 
{{/* without express written permission of F5 Networks, Inc. */}} 
# Uncomment this and load any modules installed on the NGINX data-plane
 load_module modules/ngx_http_app_protect_module.so;
