{{/* For demo and PoC only */}} 
{{/* All rights reserved. */}} 
{{/* Fouad Chmainy  */}} 

{{$input := .}}
{{$gwData := .Data.V1}}
{{$argsLen := len $input.Args}}
{{if lt $argsLen 1}}
    {{fail "base template did not pass in the required arguments"}}
{{end}}
{{$serverIndex := index $input.Args 0}}
{{$server := index $gwData.servers $serverIndex}}

{{$derivedEnabled := "on"}}
{{$derivedPolicy := "/etc/app_protect/conf/NginxDefaultPolicy.json"}}
{{$derivedLogEnabled := "on"}}
{{$nginxAgentNAPLogFile := "/etc/app_protect/conf/log_sm.json"}}
{{$derivedLogSettings := "127.0.0.1:514"}}

{{$uriCe := $server.customExtensions}}

{{if and $uriCe $uriCe.appProtect $uriCe.appProtect.appProtectEnable}}
    {{$derivedEnabled = $uriCe.appProtect.appProtectEnable}}
{{end}}

{{if and $uriCe $uriCe.appProtect $uriCe.appProtect.policyFile}}
    {{$derivedPolicy = $uriCe.appProtect.policyFile}}
{{end}}

{{if and $uriCe $uriCe.appProtect $uriCe.appProtect.appProtectSecurityLogEnable}}
    {{$derivedLogEnabled = $uriCe.appProtect.appProtectSecurityLogEnable}}
{{end}}

{{if and $uriCe $uriCe.appProtect $uriCe.appProtect.appProtectSecurityLog}}
    {{$derivedLogSettings = $uriCe.appProtect.appProtectSecurityLog}}
{{end}}




{{if eq $derivedEnabled "on"}}
	app_protect_enable {{$derivedEnabled}};
	app_protect_policy_file {{$derivedPolicy}};
	app_protect_security_log_enable {{$derivedLogEnabled}};
	app_protect_security_log {{$nginxAgentNAPLogFile}} syslog:server={{$derivedLogSettings}};
{{end}}

