{{/* For demo and PoC only */}} 
{{/* All rights reserved. */}} 
{{/* Fouad Chmainy  */}} 

{{$input := .}}
{{$gwData := .Data.V1}}
{{$argsLen := len $input.Args}}
{{if lt $argsLen 1}}
    {{fail "base template did not pass in the required arguments"}}
{{end}}
{{$serverIndex := index $input.Args 0}}
{{$server := index $gwData.servers $serverIndex}}

{{$derivedEnabled := "off"}}
{{$derivedPolicy := "NginxDefaultPolicy"}}

{{$uriCe := $server.customExtensions}}

{{if and $uriCe $uriCe.NAPSettings $uriCe.NAPSettings.NAPEnable}}
    {{$derivedEnabled = $uriCe.NAPSettings.NAPEnable}}
{{end}}

{{if and $uriCe $uriCe.NAPSettings $uriCe.NAPSettings.NAPName}}
    {{$derivedPolicy = $uriCe.NAPSettings.NAPName}}
{{end}}

{{if eq $derivedEnabled "on"}}
app_protect_enable on;
app_protect_policy_file "/etc/nms/{{$derivedPolicy}}.tgz";
app_protect_security_log_enable on;
app_protect_security_log "/etc/nms/secops_dashboard.tgz" syslog:server=127.0.0.1:514;
{{end}}


